* {
 font-family: 'Raleway', sans-serif;;
 margin: 0;
 padding: 0;
 box-sizing: border-box; 

  }
 .wrapper{
   max-width: 1900px;
   margin-right: auto;
   margin-left: auto;
 }

li , a {
    font-weight: 200;
    font-size: 16px;
    text-decoration:none;
    color: black;
  }
 
  
header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    padding: 40px 0;
    
}
.logo {
  cursor: pointer;
  width: 120px;

}
.nav_link{
  list-style: none;
}
.nav_link li {
  display: inline-block;
  padding: 0px 20px;
  
}

.nav_link li a:hover {
  padding-top: 20px;
  color: #0065FC;
  border-top: 1px solid #0065FC;
  
}
.register a {
  font-weight: bold;
  color: #0065fc;
  display: flex;
  align-items: center;
}
 /*Hébergements */
 .container{
  width:100%;
   display: flex;
   flex-wrap: wrap;
   }
 .container1{
  width: 66%;  
  background-color: #8f1010;
  padding: 70px 0;
  

  border-radius: 15px;
  
  }
 .lodging{
justify-content: space-between;
background-color: #eb0f9a;
display: flex;
flex-wrap: wrap;

border-radius: 15px;
}

h1{
margin: 0px;
font-size: 1em;
}
 .Hebergements {
  background-color: #151b74;
  
  padding: 70px 0;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  border-radius: 15px;
  flex-direction: row;
}
.hebergements_populaires {
  width: 33%;
  background-color: #37bb0f;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  
}
.box{
  background-color: white;
  width: 25%;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  border-radius: 15px;
  padding: 3px;
  margin: 1em;
}

.box .image img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1px;

}
.box .pop img{
  width: 50%;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1px;

}
.stars i.fa-star{
   color: #0065FC;
    }
.stars i.etoilegris{
  color: #d9d9d9;
}


 /*Hébergements */
 /*footer */

.footer {
  
  background-color: #F2F2F2;
  padding: 70px 0;
  display: flex;
  /*justify-content:space-between;
  flex-wrap: wrap;*/
}

.footer-heading {
  display: flex;
  flex-direction: column;
/*  justify-content:space-around;*/
  flex-basis: 33%;


}
.footer-heading a:hover {
  color: #0065FC;

}
 /*footer */