*{
  font-family: 'Raleway', sans-serif;;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  }

  .wrapper{
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
}

/*****************************************header*/
header {
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  padding: 40px 0;
  /*flex-basis: 100%;*/
}

.logo {
  flex-basis: 78%;
  cursor: pointer;
  width: 120px;
}

.nav_link li , a {
  font-weight: 600;
  font-size: 16px;
  text-decoration:none;
  color: black;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav_link{
  flex-basis: 25%;
  list-style: none;
  display: flex;
}

.nav_link li {
  padding: 0px 20px;
}

.nav-hebergement:hover ,.nav-activites:hover {
  padding-top: 29px;
  color: #0065FC;
  border-top: 2px solid #0065FC;
}

.register  {
  font-weight: bold;
  color: #0065fc;
  order: 1;
  }
.searchTitle h1{
  padding: 0 0 10px 0;
  margin: 0px;
  font-size: 1.6em;
}
.searchTitle p{
  padding: 0 0 10px 0;
  margin: 0;
  font-weight: 500;
}
/************************************header*/
/***********************************Rechercher*/

.containerform{
  display: inline-flex;
  margin-top: 2px;
  margin-bottom: 10px;
  width: 100%;
  align-items: center;
  padding: 0.75rem 0;
}

.iconemap {
  background-color: #f2f2f2;
  font-size: 19.7px;
  border-radius: 1rem 0 0 1rem;
  padding: 10px 10px;
  text-align: center;
  text-align: center;
  padding: 0.9em;
}

  #place::placeholder {
  font-size: 1.125em;
  font-weight: 700;
  color: black;
  opacity: 1;
}

input {
  font-size: 90%;
  border-radius: 5px;
  font-weight: bold;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  border-right: none;
  border-left: none;
  padding: 17.2px 25px 17.2px 25px ;
  width: 15em;
}

  .boutonbleu {
  padding: 15px;
  font-size: 20px;
  background-color: #0065FC;
  cursor: pointer;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  height: 100%;
  font-weight: bolder;
  width: 150px;
}

.boutonbleu .fa-search{
  display: none;
}

/***********************************filtre*/

.barreFiltre {
  display: flex;
  align-items: center;
  padding: 30px;  
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0 10px;
}
.filter{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.titreh2{
  padding-right: 1em;
}



.bouton-filtre {
  display: flex;
  align-items: center;
  margin-right: 1.8em;
  border: 2px solid #f2f2f2;
  border-radius: 30px; 
  height: 3.4em;
  margin-top: 5px;
  margin-bottom: 5px;
}


.filter-container :hover{
  color:blue;
  background-color:#DEEBFF;
  border-radius: 50px;
}

.bouton-filtre a {
  font-size: 20px;
  font-weight:bold ;
  padding-right: 1em;
  padding-left: 1em;
}

.filter-container i {
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 100%;
  height: 3.4rem;
  width: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/********************************* la ligne information */
.infoicone{
  display: flex;
  align-items: center;
  padding: 0 0 20px 0;
}

.infoicone i {
  background-color: white;
  color: #0065fc;
  padding: 0.8em;
  border-radius: 30px;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f2f2f2;
}
p.infoicone{
  margin-top: 15px;
  margin-left: 10px;
  font-weight: 500;
}

/******************************************filtre*/
/******************************************Hébergements */
.container{ 
  width:100%;
  display: flex;
  flex-wrap: wrap;
}

.container1{   
  width: 65.5%;  
  background-color:  #F2F2F2;
  padding: 0px 0px 0px 0px;
  border-radius: 15px;
}

.lodging{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
}

.Hebergements {
  background-color: #F2F2F2;
  padding: 0px 10px 0px 10px ;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  border-radius: 15px;
  flex-direction: row;
  border:0px;
  flex-wrap: 1;
}

.hebergements_populaires {
  width: 32.5%;
  background-color: #F2F2F2;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
h2.populair{
  padding-left: 9.5px;
}
.box{
  background-color:white;
  width: 29%;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  border-radius: 15px;
  padding: 0px 5px 20px 5px;
  margin: 5px 5px 3.5% 5px;
}

.hebergements , .stars, p,.title{
  margin-top: 2%;
  margin-left: 5%;
}



.box .image img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 1px;
  
}

.box-pop{
  background-color: white;
  display: flex;
  width: 90%;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  border-radius: 15px;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5em 0 2em 2em ;
}

.box-pop .image-pop{
  flex:1;
  min-width: 33%;
  max-width: 33%;
}

.box-pop .info{
  flex:1;
  margin-left: 5%;
  min-width: 35%;
  max-width: 35%;
}

.box-pop img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 17px;
  padding: 5px 5px 2px 5px;
}

.stars i.fa-star{
  color: #0065FC;
}

.stars i.etoilegris{
  color: #d9d9d9;
}

.titre-box-pop{
  padding: 1%;
  margin: 1% 1% 1% 3.2% ;
  display: flex;
  justify-content: space-between;
}

.titre-box h2{
  padding: 10px;
  margin-left: 3%;
  margin-top: 1%;
}

.afficher-plus{
  font-weight: bold;
  padding: 30px 20px 2px;
  margin-left: 50px;
}
.box-pop i{
  margin-top: 40%;
}
p.box-pop {
  margin-top: 5% 0 0 0;
}
.fa-chart-line {
  font-size: 20px;
}

  /*Hébergements */
  /*activites */

.grid-container {
  height: 590px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 45px;
  padding-bottom: 2%;
  margin: 2em 0;
}

.activitesTitle{
  margin: 70px 0 0 0 ;
  padding: 0;
  font-weight: bold;
  }

.grid-img{
    height: calc(100% - 50px);
}

.grid-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.grid-item {
  border-radius: 1.5rem;
  height: 100%;
  overflow: hidden;
  box-shadow:  0px 10px 20px rgba(0, 0, 0, 0.3);
}

.grid-item .titre {
  border-bottom: 25px;
  background-color: white;
  padding: 15px 0 0 20px;
  max-height: 100%;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.titre{
  padding: 5px;
  font-size: small;
  font-weight: bolder;
}

.item-1 {
  grid-row: 1/9;
  grid-column: 1/2;
}

.item-2 {
  grid-row: 1/6;
  grid-column: 2/3;
}

  .item-3 {
  grid-row: 6/9;
  grid-column: 2/3;
}

.item-4 {
  grid-row: 1/9;
  grid-column: 3/4;
}

.item-5 {
  grid-row: 1/5;
  grid-column: 4/5;
}

.item-6{
  grid-row: 5/9;
  grid-column: 4/5;
}
  
@media (max-width:600px) {
.item-1 {
  grid-row: 1/2;
  grid-column: 1/5;
  }
.item-2 {
  grid-row: 2/3;
  grid-column: 1/5;
  }
.item-3 {
  grid-row: 3/4;
  grid-column: 1/5;
  }
.item-4 {
  grid-row: 4/5;
  grid-column: 1/5;
  }
.item-5 {
  grid-row: 5/6;
  grid-column: 1/5;
  }
  
.item-6{
  grid-row: 6/7;
  grid-column: 1/5;
  }
}
  /*activites */
  /*footer */
  .footer{
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
  }
.footer {
  background-color: #F2F2F2;
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer-1{
  padding: 0 0 0 80px;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;

}
.footer-heading a{
  padding: 10px;

}
.footer-heading h2{
  padding: 10px;
    
  }

.footer-heading a:hover {
  color: #0065FC;
}
  /**************************************footer */

  /*************************media queries iphone*/
  @media screen and (max-width:600px) {

/*****************************************header*/
  .wrapper {
  max-width: 650px; 
  margin-right: 10px;
  margin-left: 10px;
  }

.logo{
  flex: 1;
}
  .register{
    order: 0;
    flex: 1;
    padding-left: 40%;
  }
header{
  flex-wrap: wrap;
}
.navconteneur{
  flex: 0 0 100%;
 }

  .nav-hebergement:hover ,.nav-activites:hover {

    border-top: none
  }

.nav_link li{
display: inline-block;
width: 50%;
font-size: 1.7em;
text-align: center;
padding-bottom: 20px;
border-bottom:  2px solid #F2F2F2;

}

.nav_link li:hover {
  border-top: solid white;
  border-bottom: solid #0065FC;
  padding-bottom: 20px;
}

.boutonbleu{
  border-radius: 15px;
  width: 55px;
}
.boutonbleu span {
  display: none;
}
.boutonbleu .fa-search{ 
display: block;
border-bottom-left-radius: 15px;
border-top-left-radius: 15px;
}

/*****************************************header*/
/***********************************filtre*/
.infoicone i {
  background-color: white;
  color: #0065fc;
  border: 0.12em solid #f2f2f2;
  margin: 10px;
}
.titreh2{
  padding-bottom: 10px;
  padding-right: 100%;
}

.bouton-filtre a {
  font-size: 15px;
  font-weight: 800;
}
.infoicone p {
  margin-top: 10px;
  margin-left: 10px;
}


/***********************************filtre*/
  .container1, .hebergements_populaires{
  width:100%;
  border-radius: 0px;
  }

  .box-pop .info{
    max-width: 50%;
  }

  .hebergements_populaires{
  order:-1;
  }

  .Hebergements .box{
  flex-direction: column;   
  width:100%;
  }
  .Hebergements , .container1 {
  background-color: white;
  }

  .titre-box-pop .fas {
  font-size: 20px;
  }

  .grid-container{
  row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 12rem 12rem 12rem 12rem 12rem 12rem;
  margin-bottom: 760px;
  }
/**************************************footer */
  .footer-heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .footer{
    flex-direction: column;
    padding: 20px 0 0 10px;
  }
/**************************************footer */
} 
