* {
 font-family: 'Raleway', sans-serif;;
 margin: 0;
 padding: 0;
 box-sizing: border-box; 

  }
 .wrapper{
   max-width: 1800px;
   margin-right: auto;
   margin-left: auto;
 }

/*header*/
li , a {
    font-weight: 200;
    font-size: 16px;
    text-decoration:none;
    color: black;
  }
 
  
header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    padding: 40px 0;
    
}
.logo {
  cursor: pointer;
  width: 120px;

}
.nav_link{
  list-style: none;
}
.nav_link li {
  display: inline-block;
  padding: 0px 20px;
  
}

.nav_link li a:hover {
  padding-top: 20px;
  color: #0065FC;
  border-top: 1px solid #0065FC;
  
}
.register a {
  font-weight: bold;
  color: #0065fc;
  display: flex;
  align-items: center;
  }
  /*header*/
  /* Rechercher*/

.searchbox{
    display: inline-flex;
    margin-top: 15px;
    align-items: center;
  }
  
.button {
    background-color: #0065fc;
    border: none;
    padding: 15px 15px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    margin: 10px;;
    font-weight: bold;
  }
  
  .iconemap {
    background-color: #f2f2f2;
    font-size: 30px;
    border-radius: 1rem 0 0 1rem;
    padding: 10px 10px;
    text-align: center;
    height: 60px;
  }
  
  input {
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    padding: 20px;
    border-right: none;
    border-left: none;
  }
  
  .boutonbleu {
    background-color: #0065fc;
    color: white;
    border-radius: 0px 20px 20px 0;
    padding: 15px;
    font-weight: bold;
    height: 70px;
  }
  .bleu a {
    color: #0065fc;
    font-weight: bold;
    display: flex;
    align-items: center;
    }


  /*filtre*/

.barreFiltre {
    display: flex;
    align-items: center;
    padding: 30px;  
}
.filter-container2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}
.titreh2{
  padding-right: 1em;
}

.bouton-filtre {
   display: flex;
   align-items: center;
   margin-right: 2em;
   border: 2px solid #f2f2f2;
   border-radius: 30px; 
   height: 2.5em;
}
.filter-container2 :hover{
  color:blue;
  background-color:#DEEBFF;
}

.bouton-filtre a {
  font-size: 25px;
  font-weight:bold ;
  padding-right: 1em;
  padding-left: 1em;

}

.filter-container2 i {
background-color: #DEEBFF;
color: #0065FC;
border-radius: 100%;
height: 3rem;
width: 3rem;
display: flex;
align-items: center;
justify-content: center;

 
}

  
  /* la ligne information */
  .infoicone{
    display: flex;
    align-items: center;
  }

.infoicone i {
  background-color: #DEEBFF;
  color: #0065fc;
  padding: 0.8em;
  border-radius: 30px;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  
}



   /*filtre*/
   /*Hébergements */
 .container{ /*conteneur parent*/
   width:100%;
   display: flex;
   flex-wrap: wrap;
   }
 .container1{   /*le conteneur qui contient les photo des hotel "hebergement a marseille et les plus populaire  */
  width: 66%;  
  background-color: #8f1010;
  padding: 0px 0px 0px 0px;
  border-radius: 15px;
}
.lodging{
justify-content: space-between;
background-color: #eb0f9a;
display: flex;
flex-wrap: wrap;
border-radius: 15px;
}

h1{
margin: 0px;
font-size: 1em;
}
.Hebergements {
  background-color: #151b74;
  padding: 0px 10px 0px 10px ;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  border-radius: 15px;
  flex-direction: row;
  border:0px;
  flex-wrap: 1;
}
.hebergements_populaires {
  width: 33%;
  background-color: #37bb0f;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}


.box{
  background-color: rgb(137, 187, 22);
  width: 27%;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  border-radius: 15px;
  padding: 5px 5px 10px 5px;
  margin: 5px 5px 50px 5px;
}


.box .image img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1px;
  
}
.box-pop{
  display: flex;
  background-color: rgb(187, 157, 22);
  width:80%;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  border-radius: 15px;
  padding: 3px;
  margin: 1em;
  align-items: center;
  justify-content: flex-start;

}
.box-pop .image-pop{
  flex:1;
}
.box-pop .info{
  flex:1;
}
.box-pop img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1px;
}

.stars i.fa-star{
color: #0065FC;
}

.stars i.etoilegris{
  color: #d9d9d9;
}
.titre-box-pop{
  display: flex;
  justify-content: space-between;
}

.titre-box h2{
  padding: 20px;
  margin-left: 50px;
}

.afficher-plus{
  padding: 20px;
  margin-left: 50px;
}

 /*Hébergements */
 /*activites */

.grid-container {
  height: 1100px;
  border: 10px solid #14a76c;
  display: grid;
  grid-template-rows: 12rem 2rem 2rem 2rem 12rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  
}
.grid-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1px;
 
}
.grid-item {
  background-color: #ccc;
  border: 4px solid #ff652f;
  padding: 2px;
  border-radius: 1.5rem;

}

.titre {
  border-bottom: 20px;
  background-color: white;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.item-1 {
  grid-column-start: 1 ;
  grid-column-end: 2 ;
  grid-row-start: 1 ;
  grid-row-end: 5 ;
  
}
.item-2 {
  grid-column-start: 2 ;
  grid-column-end: 3;
  grid-row-start: 1 ;
  grid-row-end: 2;
  
}
.item-3 {
  grid-column-start: 2 ;
  grid-column-end: 3;
  grid-row-start: 2 ;
  grid-row-end: 5;
}
.item-4 {
  grid-column-start: 3 ;
  grid-column-end: 4 ;
  grid-row-start: 1 ;
  grid-row-end: 3 ;
  
}

.item-5 {
  grid-column-start: 4 ;
  grid-column-end: 5 ;
  grid-row-start: 1;
  grid-row-end: 2 ;
  
}
.item-6{
  grid-column-start: 4 ;
  grid-column-end: 5 ;
  grid-row-start: 2;
  grid-row-end: 5 ;
}







 /*activites */
 /*footer */

.footer {
  background-color: #F2F2F2;
  padding: 70px 0;
  display: flex;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}

.footer-heading a:hover {
  color: #0065FC;
}
 /*footer */

 /*media*/
 @media screen and (max-width:500px) {
  .container1, .hebergements_populaires{
    width:100%;
  }
  .hebergements_populaires{
    order:-1;
  }
  .Hebergements .box{
    flex-direction: column;
    
    width:100%;
  }
  



} 

